

<!DOCTYPE html>
{% load static %}
<html>
    {% include "cav_fe/header.html" %}
  <body>
  {% include "cav_fe/nav.html" %}


  <div class="container-fluid" style="width: 100%;">
  <div class="row" id="map-view">

        <div class="col-4" >

            <div id='map' style='height:100%; width: 100%; background-color: white; padding:0px'></div>

            <ul>
                <li>
                    <div class="input-color">
                        <input type="text" value="MAP"  readonly/>
                        <div class="color-box" style="background-color: #ffbf00;"></div>
                    </div>
                </li>
                <li>
                    <div class="input-color">
                        <input type="text" value="TIM" readonly/>
                        <div class="color-box" style="background-color: #3FB1CE;"></div>
                    </div>
                </li>
                <li>
                    <div class="input-color">
                        <input type="text" value="BSM" readonly/>
                        <div class="color-box" style="background-color: #ff0000;"></div>
                    </div>
                </li>
                <li>
                    <div class="input-color">
                        <input type="text" value="SPAT" readonly/>
                        <div class="color-box" style="background-color: #80ff00;"></div>
                    </div>
                </li>
            </ul>
    </div> <!---End of Map---->

    <div class="col-8" >            
          <div style="display:inline-block;width: 100%; background-color: white; padding:0px 5px ;">
          <div class="row">
              <div style="  text-align:left;margin-left:0px;margin-right:0px;" class="col-6">
                <div id="graphMsgTypes" style="display: ;" >
                <div class="form-check form-check-inline">
                    <input class="form-check-input addDataSet" name="messageTypeCheckbox" type="checkbox" id="inlineCheckboxBSM" value="BSM" checked>
                  <label class="form-check-label" for="inlineCheckboxBSM">BSM</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input addDataSet" name="messageTypeCheckbox" type="checkbox" id="inlineCheckboxMAP" value="MAP" checked>
                  <label class="form-check-label" for="inlineCheckboxMAP">MAP</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input addDataSet" name="messageTypeCheckbox" type="checkbox" id="inlineCheckboxSPAT" value="SPAT" checked>
                  <label class="form-check-label" for="inlineCheckboxSPAT">SPAT</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input addDataSet" name="messageTypeCheckbox" type="checkbox" id="inlineCheckboxTIM" value="TIM" checked>
                  <label class="form-check-label" for="inlineCheckboxTIM">TIM</label>
                </div>
              </div>
            </div>
            
            <div style=" display: inline-block; float:right; text-align:right;margin-left:0px;margin-right:0px; " class="col-6">
                <div class="row">
                 <div style=" display: inline-block; float:right; text-align:right;margin-left:0px;margin-right:0px; " class="col-6">
                  </div>
                  <div style=" display: inline-block; float:right; text-align:right;margin-left:0px;margin-right:0px; " class="col-6">
                      <button id="real-time-btn" class="btn btn-link active">Real Time Data</button>
                      <button id="history-btn" class="btn btn-link">History Data</button>
                  </div>

                </div>
                <div class="row" id="clear_live_data_row">
                    <button class="btn btn-primary" style="display: contents;color:#337ab7; " id="clear_live_data">
                        <span class="glyphicon glyphicon-refresh clear_live_data_refresh">Clear</span>
                    </button>
                </div>
            </div>

            <div id="history_datetime_filters" style="position:absolute;right:10px;display:none;text-align:right;top:45px">
                Start: <input id ="history_start_datetime"  type="text" style="display:inline;" placeholder="Start DateTime" title="No start datetime means start from now" aria-label="default input example">
                End: <input id ="history_end_datetime"  type="text" style="display:inline" placeholder="End DateTime" title="No end datetime means until now" aria-label="default input example">
                <button type="button" class="btn btn-success btn-sm" id="search_history_graph_data">Search</button>
            </div>

          </div>
          
            <div style=" display: inline-block; width: 100%" id="real-time-canvas-wraper" >
              <canvas id="real-time-canvas" style="display: inline-block; height:600px" class="chartjs-render-monitor"></canvas>
            </div>
            <div style="  width: 100%;margin-top:10px" id="history-canvas-wraper" >
              <canvas id="history-canvas" style="display: inline-block; display:none; " class="chartjs-render-monitor"></canvas>
            </div>
        </div>
    </div><!----- End of Chart --->
  </div>

  <div class="row" id="table-view" style="display:none;background-color: white; padding-top: 10px; margin-left: 2px;margin-right: 2px; ">
    <!--Filters-->
    <div class="col-2">
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="filter_msg_type">
          <option selected value="">Message Type</option>
          <option value="BSM">BSM</option>
          <option value="TIM">TIM</option>
          <option value="MAP">MAP</option>
          <option value="SPAT">SPAT</option>
        </select>
    </div>
      
    <div class="offset-3 col-3" style="position:relative;">
      <div class="row">
          <label for="datetimepicker_start_datetime" style="text-align:right" class="col-4 col-form-label">Start DateTime</label>
          <div class="col-8" >
            <input id ="datetimepicker_start_datetime"  class="form-control" type="text" style="display:inline" placeholder="End DateTime" aria-label="default input example">
          </div>
      </div>
    </div>
    <div class="col-3" style="position:relative; ">
      <div class="row">
            <label for="datetimepicker_end_datetime" style="text-align:right" class="col-4 col-form-label">End DateTime</label>
            <div class="col-8" >
              <input id ="datetimepicker_end_datetime"  class="form-control" type="text" style="display:inline" placeholder="Start DateTime" aria-label="default input example">
            </div>
        </div>
    </div>
    {% csrf_token %}
    <div class="col-1" style="position:relative; ">
      <button type="button" class="btn btn-success btn-lg" style="float:right;margin-top:0px;" id="table_filter_search">Search</button>
    </div>

    <!--Table-->
    <div class="message table col-12" style="background-color: white; padding-top: 10px; margin-left: 2px;margin-right: 2px">
      <div >
        <table class="table table-striped table-hover table-bordered" id="message-table">
            <thead>
            <tr>
              <th scope="col" style="text-align:center">Message Type</th>
              <th scope="col" style="text-align:center">TimeStamp</th>
              <th scope="col" style="text-align:center">Payload</th>
              <th scope="col" style="text-align:center">Original Message</th>
            </tr>
          </thead>
          <tbody class="message body" id="message-body">
              {% for msg in messages%}            
              <tr>
                  <td>{{msg.message_type}}</td>
                  <td>{{msg.timestamp}}</td>
                  <td className="message view pointer"  data-toggle="modal" data-target="#exampleModalCenter">{{msg.payload}}</td>
                  <td>{{msg.original_message}}</td>
              {% endfor%}
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <div id="modal-area"></div>

</div>
    <script src="{% static 'cav_fe/js/line_charts_live.js' %} "></script>
    <script src="{% static 'cav_fe/js/line_charts_history.js' %} "></script>
    <script src="{% static 'cav_fe/js/gps_mapbox.js' %} "></script>
    <script src="{% static 'cav_fe/js/app.js' %} "></script>
  </body>
</html>