
li a {
    color: green;
}
body {
    font-size: 16px !important;
    font-family: arial,sans-serif !important;
    background-color: rgba(233, 234, 235, 0.877) !important; 
}
label{
    font-size: 16px !important;
    font-weight: normal !important;
    display: inline !important;
}
a.navbar-brand{
    font-size: 20px !important;
    vertical-align: middle;
}
button,canvas{
    font-size: 16px !important;
}
.form-select.form-select-lg.mb-3,.form-control,.modal-title,.modal-body{
    font-size: 16px !important;
}
.modal-title{
    font-weight: bold
}
.pointer{
    cursor: pointer;
}
.message.view{
    text-decoration: underline; 
    color: #3FB1CE; 
}
.modal-body{
    word-wrap: break-word !important;
}
.nav-item,.navbar-light.navbar-nav.nav-link,.navbar li a{
    color:white !important;
    font-size: 20px !important;
    border-radius:10px;
}
.navbar-item{
    padding-top: 8px !important;
}
.navbar li{
    display: inline-block;
    border: solid 2px rgb(255, 255, 255) !important;
    border-radius:10px ;
}
 .navbar li:hover{
    background-color: rgb(129, 129, 129);
    
}

